/* Add your global styles or reset here if needed */

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
}
.formbold-main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.formbold-form-wrapper {
  background-color: #f0f0f0;
  padding: 45px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formbold-form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formbold-form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formbold-mb-5 {
  margin-bottom: 20px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Add media queries or additional styles as needed for responsiveness */