@media all and (min-width: 480px) {
  .Login {
    padding: 100px 100px;
  }

  .Login form {
    margin: 0 auto;
    max-width: 480px;
  }
}

.wrapper {

    padding: 20px;

}

.Login {
  display: flex;
  align-items: center;
}


.main-buttons {
  margin: 20px 0;
  text-align: center;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
